@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');
body{
    background-color: #e0e0e0;
}
h1{
    text-align: center;
    font-family: 'Stylish', sans-serif;
    font-size: 45px;
}
#my-canvas{
    border-radius: 20px;
    margin: 0;
    padding: 0;
    height: 500px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
    background: #e0e0e0;
    box-shadow:  5px 5px 10px #969696, -5px -5px 10px #ffffff;
}
.center{
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 800px;
}
.container{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 42px;
}
.btn{
  justify-content: center;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  border: 0;
  box-shadow:  5px 5px 10px #969696, -5px -5px 10px #ffffff;
  margin-left: 20px;
  font-family: 'Stylish', sans-serif;
  font-size: 18px;
}
.first{
  margin-left: -20px;
}

.btn:hover{
    background-color: #e2a1a1;
    color: white;
}
.btn:active{
    box-shadow:  -5px -5px 10px #fffefe, 5px 5px 10px #f8f5f5;
    box-shadow: inset -1px -1px 5px -1px rgba(0,0,0,0.75);
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}